/*! Global*/
$global-font-family: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$susy-box-sizing: border-box;
$susy-columns: 12;
$susy-gutters: .25;
$container-width: 90%;

/*! Alert*/
$alert-background-color: #c6538c !default;
$alert-color: rgba(255,255,255,0.75) !default;

/*! Pop-Stripe*/
$pop-stripe-colors: #c69 #b37399 #998099 #699 #d2e1dd #fff #f2ece4 #e1d7d2 #dadbdf #808c99 #6b717f #036;

/*! Media query*/
$screen-xs: max-width 768px;
$screen-sm: 768px;

