@charset "UTF-8";
/*流程控制*/
/*if 三目运算*/
/* line 5, ../sass/high-level.scss */
body {
  color: red;
}

/* @if @else 条件判断 */
/* line 16, ../sass/high-level.scss */
span {
  color: purple;
}

/*@for  循环输出*/
/* line 28, ../sass/high-level.scss */
.span1 {
  width: 20%;
}

/* line 28, ../sass/high-level.scss */
.span2 {
  width: 40%;
}

/* line 28, ../sass/high-level.scss */
.span3 {
  width: 60%;
}

/* line 28, ../sass/high-level.scss */
.span4 {
  width: 80%;
}

/* line 28, ../sass/high-level.scss */
.span5 {
  width: 100%;
}

/* line 34, ../sass/high-level.scss */
.sp1 {
  margin-left: 5px;
}

/* line 34, ../sass/high-level.scss */
.sp2 {
  margin-left: 10px;
}

/* line 34, ../sass/high-level.scss */
.sp3 {
  margin-left: 15px;
}

/* line 34, ../sass/high-level.scss */
.sp4 {
  margin-left: 20px;
}

/*@while 循环输出*/
/* line 42, ../sass/high-level.scss */
.p6 {
  width: 120%;
}

/* line 42, ../sass/high-level.scss */
.p4 {
  width: 80%;
}

/* line 42, ../sass/high-level.scss */
.p2 {
  width: 40%;
}

/* line 42, ../sass/high-level.scss */
.p0 {
  width: 0%;
}

/*@each  遍历*/
/*常规遍历*/
/* line 53, ../sass/high-level.scss */
.div1 {
  color: blue;
}

/* line 53, ../sass/high-level.scss */
.div2 {
  color: red;
}

/* line 53, ../sass/high-level.scss */
.div3 {
  color: green;
}

/* line 60, ../sass/high-level.scss */
.text-default {
  color: blue;
}

/* line 60, ../sass/high-level.scss */
.text-info {
  color: green;
}

/* line 60, ../sass/high-level.scss */
.text-danger {
  color: red;
}

/* line 67, ../sass/high-level.scss */
.label-default {
  color: blue;
}

/* line 67, ../sass/high-level.scss */
.label-info {
  color: green;
}

/* line 67, ../sass/high-level.scss */
.label-danger {
  color: red;
}
