/* line 15, ../sass/home.scss */
.col1 {
  width: 8.33333%;
}

/* line 15, ../sass/home.scss */
.col2 {
  width: 16.66667%;
}

/* line 15, ../sass/home.scss */
.col3 {
  width: 25%;
}

/* line 15, ../sass/home.scss */
.col4 {
  width: 33.33333%;
}

/* line 15, ../sass/home.scss */
.col5 {
  width: 41.66667%;
}

/* line 15, ../sass/home.scss */
.col6 {
  width: 50%;
}

/* line 15, ../sass/home.scss */
.col7 {
  width: 58.33333%;
}

/* line 15, ../sass/home.scss */
.col8 {
  width: 66.66667%;
}

/* line 15, ../sass/home.scss */
.col9 {
  width: 75%;
}

/* line 15, ../sass/home.scss */
.col10 {
  width: 83.33333%;
}

/* line 15, ../sass/home.scss */
.col11 {
  width: 91.66667%;
}

/* line 15, ../sass/home.scss */
.col12 {
  width: 100%;
}
