/* line 1, ../sass/index.scss */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

/* line 8, ../sass/index.scss */
#G-lightbox-mask {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .5;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* line 22, ../sass/index.scss */
#G-lightbox-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 230px;
  z-index: 3;
}
/* line 33, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view {
  position: relative;
  border: 5px solid #fff;
  border-radius: 3px;
  overflow: hidden;
  background: #fff url(../icon/loading.gif) no-repeat center center;
}
/* line 39, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-image {
  display: block;
}
/* line 42, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-btn {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: 1;
  background: url(../icon/transparent.png);
}
/* line 50, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn {
  left: 0;
}
/* line 53, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn {
  right: 0;
}
/* line 56, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show {
  background: url(../icon/prev.png) no-repeat left center;
}
/* line 59, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show {
  background: url(../icon/next.png) no-repeat right center;
}
/* line 63, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-caption {
  position: relative;
  margin: 0 5px;
  margin-top: -65px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 69, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area {
  color: #fff;
  padding: 9px 5px;
}
/* line 72, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-of-index {
  color: #999;
}
/* line 76, ../sass/index.scss */
#G-lightbox-popup .lightbox-pic-caption .lightbox-close-btn {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 27px;
  height: 27px;
  background: url(../icon/close.png) no-repeat center center;
}
