.section-bottom {
	.list-tiled {
		padding-left: 0;
		text-align: left;
		overflow: hidden;
		li {
			@include span(4);
			list-style: none;
			text-align: left;
			padding-top: 36px;
			
			@include breakpoint($screen-xs) {
				@include span(12);
			}

		}
		&>li:nth-child(3n+1) {
			clear: both;
		}
		h3 {
			text-transform: uppercase;
			letter-spacing: 0.5px;
			color: #808c99;
			font-weight: 600;
		}		
	}
}